<script>
  import Button from "../shared/Button.svelte";
  import {createEventDispatcher} from "svelte";
  import PollStore from "../stores/PollStore";
  const dispatch = createEventDispatcher();

  let fields = { question: "", answerA: "", answerB: "" };
  let errors = { question: "", answerA: "", answerB: "" };
  let valid = false;

  const submitHandler = () => {
    valid = true;

    // Validate question
    if (fields.question.trim().length === 0) {
      valid = false;
      errors.question = "Question must be at least 5 characters long";
    } else {
      errors.question = "";
    }

    // Validate answer A
    if (fields.answerA.trim().length === 0) {
      valid = false;
      errors.answerA = "Answer A cannot be empty";
    } else {
      errors.answerA = "";
    }

    // Validate answer B
    if (fields.answerB.trim().length === 0) {
      valid = false;
      errors.answerB = "Answer B cannot be empty";
    } else {
      errors.answerB = "";
    }

    // Add new poll to the database
    if (valid) {
        let poll = {...fields, votesA: 0, votesB: 0, id: Math.random().toString(36).substr(2, 9)};
        PollStore.update(currentStore=>{
          return [poll, ...currentStore]
        })
        dispatch("addPoll");
    }
  };
</script>

<form on:submit|preventDefault={submitHandler}>
  <div class="form-field">
    <label for="question">Poll Question:</label>
    <input type="text" id="question" bind:value={fields.question} />
    <div class="error">{errors.question}</div>
  </div>
  <div class="form-field">
    <label for="answer-a">Poll Answer-a:</label>
    <input type="text" id="answer-a" bind:value={fields.answerA} />
    <div class="error">{errors.answerA}</div>
  </div>
  <div class="form-field">
    <label for="answer-b">Poll Answer-b:</label>
    <input type="text" id="answer-b" bind:value={fields.answerB} />
    <div class="error">{errors.answerB}</div>
  </div>
  <Button type="primary" flat={true} inverse={false}>Create Poll</Button>
</form>

<style>
  form {
    width: 400px;
    margin: 0px auto;
    text-align: center;
  }
  .form-field {
    margin: 18px auto;
  }
  input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
  }
  label {
    margin: 10px auto;
    text-align: left;
  }
  button {
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    background-color: #d91b42;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  .error {
    color: #d91b42;
    font-size: 12px;
  }
</style>
