<header>
    <h1>
        <img src="/img/Logo.svg" alt="Poll Ninja Logo">
    </h1>
</header>

<style>
header{
    background-color: #f7f7f7;
    padding: 20px;
    margin: 0;
}
h1{
    margin: 0px;
    text-align: center;
}
</style>