<script>
  import Button from "../shared/Button.svelte";
  import Card from "../shared/Card.svelte";
  import PollStore from "../stores/PollStore";
  import {tweened} from 'svelte/motion';

  export let poll;
  
  const value = tweened(0);

  // reactive values
  $: totalVotes = poll.votesA + poll.votesB;
  $: percentA = totalVotes ? (poll.votesA / totalVotes) * 100 : 0;
  $: percentB = totalVotes ? (poll.votesB / totalVotes) * 100 : 0;
  const tweenedA = tweened(0);
  const tweenedB = tweened(0);
 
  $:tweenedA.set(percentA);
  $:tweenedB.set(percentB);

  const handleClick = (option, id) => {
    PollStore.update((currentPolls) => {
      let copiedPolls = [...currentPolls];
      let upvotedPoll = copiedPolls.find((poll) => poll.id === id);
      console.log(upvotedPoll);
      if (option === "a") {
        upvotedPoll.votesA++;
        // valueA.set( upvotedPoll.votesA++)
      } else {
        upvotedPoll.votesB++;
        // valueB.set( upvotedPoll.votesB++)
      }
      return copiedPolls;
    });
  };

  const handleDelete = (id) => {
    console.log(id);
    PollStore.update((currentPolls) => {
      return currentPolls.filter((poll) => poll.id !== id);
    });
  };
</script>

<Card>
  <div class="poll">
    <h3>{poll.question}</h3>
    <p>Total votes: {totalVotes}</p>
    <div class="answer" on:click={handleClick("a", poll.id)}>
      <div class="percent percent-a" style="width: {$tweenedA}%;" />
      <span>{poll.answerA} ({poll.votesA})</span>
    </div>
    <div class="answer" on:click={handleClick("b", poll.id)}>
      <div class="percent percent-b" style="width: {$tweenedB}%;" />
      <span>{poll.answerB} ({poll.votesB})</span>
    </div>

    <div class="delete">
      <Button flat={true} on:click={() => handleDelete(poll.id)}>Delete</Button>
    </div>
  </div>
</Card>

<style>
  h3 {
    margin: 0 auto;
    color: #555;
  }
  p {
    margin-top: 6px;
    font-size: 14px;
    color: #aaa;
    margin-bottom: 30px;
  }
  .answer {
    background: #fafafa;
    cursor: pointer;
    margin: 10px auto;
    position: relative;
  }

  .answer:hover {
    opacity: 0.9;
  }
  span {
    display: inline-block;
    padding: 10px 20px;
  }
  .percent {
    position: absolute;
    height: 100%;
    box-sizing: border-box;
  }
  .percent-a {
    background: rgba(217, 27, 66, 0.2);
    border-left: 4px solid #d91b42;
  }
  .percent-b {
    border-left: 4px solid #45c496;
    background: rgba(69, 196, 150, 0.2);
  }

  .delete {
    margin-top: 20px;
    align-items: center;
    text-align: center;
  }
</style>
