<script>
  import CreatePollForm from "./components/CreatePollForm.svelte";
  import Footer from "./components/Footer.svelte";
  import Header from "./components/Header.svelte";
  import PollList from "./components/PollList.svelte";
  import Tabs from "./shared/Tabs.svelte";

  const items = ["Current Polls", "Add New Poll"];
  let activeItem = "Current Polls";

  const tabChange = (e) => {
    activeItem = e.detail;
  };

  const addPoll = (e) => {
    activeItem = "Current Polls";
  };

  // const vote = (e) => {
  //   const { option, id } = e.detail;

  //   let copiedPolls = [...polls];
  //   let upvotedPoll = copiedPolls.find((poll) => poll.id === id);
  //   console.log(upvotedPoll);
  //   if (option === "a") {
  //     upvotedPoll.votesA++;
  //   } else {
  //     upvotedPoll.votesB++;
  //   }
  //   polls = copiedPolls;
  // };
  import {tweened} from 'svelte/motion';

  const value = tweened(0);
</script>

<button on:click={()=>value.set(1)}>{$value}</button>
<Header />
<main>
  <Tabs {items} {activeItem} on:tabChange={tabChange} />
  {#if activeItem === "Current Polls"}
    <PollList />
  {/if}
  {#if activeItem === "Add New Poll"}
    <CreatePollForm on:addPoll={addPoll} />
  {/if}
</main>

<Footer />

<style>
  main {
    max-width: 960px;
    margin: 40px auto;
  }
</style>
